In [4]:
import pandas as pd

df = pd.read_csv('./clean_data_mc_sim.csv')
df.drop('index', axis=1, inplace=True)
df

               Years          1          2          3          4          5
0       Cantidad (Q)        153        219        285        351        416
1         Precio (p)    1329223    1366262    1404333    1443465    1483687
2                 cv      93046      95638      98303     101043     103858
3            Ingreso  203862912  299347958  399996111  506020971  617644034
4   Costo Venta (CV)   14270404   20954357   27999728   35421468   43235082
5     Utilidad Bruta  189592508  278393601  371996383  470599503  574408952
6       Costos fijos   25276740   26540577   27867606   29260986   30724035
7                 GA  242604000  259586280  277757320  297200332  318004355
8          Intereses    1901798    1605278    1271751     896601     474631
9       Amortización    1400000    1400000    1400000    1400000    1400000
10      depreciación    2157482    2157482    2157482    2157482    2157482
11               UAI  -83747512  -12896016   61542225  139684103  221648448
12         Impuesto           0          0   16616401   37714708   59845081
13               UDI  -83747512  -12896016   44925824  101969395  161803367
14         Intereses    1901798    1605278    1271751     896601     474631
15             Cuota    4277766    4277766    4277766    4277766    4277766
16      Depreciación    2157482    2157482    2157482    2157482    2157482
17     Flujo de caja  -83965997  -13411021   44077292  100745712  160157714